.list-group {
  overflow: hidden;
  transition: all .5s ease;
}

.hidden {
  pointer-events: none; /* This prevents interactions with the hidden element */
}

.card-header {
  background-color: rgb(242, 255, 238);
}
